<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Games Platforms</title>
</head>

<body>
    <h1 class="message-header">Video Games Platforms</h1>

    <ol>
        <% @platforms.each do |pl| %>
        <li>
              <div class="message-body">
                  <strong><%= link_to pl.name, plataform_path(pl) %></strong>
              </div>
        </li>
        <% end %>
    </ol>
</body>

</html>
