
    <h1 class="title is-2">Video Games Platforms</h1>

    <ol>
        <% @platforms.each do |pl| %>
        <li>
              <div class="message-body">
                  <strong><%= link_to pl.name, plataform_path(pl) %></strong>
              </div>
        </li>
        <% end %>
    </ol>

