
    <h2 class="title is-2">Video Games Publisher</h2>

    <ol>
        <% @publishers.each do |pu| %>
        <li>
          <div class="message-body">
            <strong><%= link_to pu.name, publisher_path(pu) %></strong>
          </div>
        </li>
        <% end %>
    </ol>

