<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Publishers</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <article class="message is-dark">
        <div class="message-header">
            <h1>Video Game Publishers</h1>
        </div>

        <div class="message-body">
            <h1><%= @publisher.name %></h1>
        </div>

        <div class="message-header">
            <h1>Video Games made by <%= @publisher.name %></h1>
        </div>

        <div class="message-body">
            <ul>
                <% @publisher.games.each do |game| %>
                <li><%= link_to game.name, game %></li>
                <% end %>
            </ul>
        </div>
    </article>
</body>

</html>
