<%= form_for search_games_path, method: :get do %>
  <div class="field is-grouped mb-5">
    <div class="control is-expanded">
      <%= text_field_tag(:keyword, nil, class: "input", placeholder:"Search here")%>
    </div>
    <div>
    <br>
<%= submit_tag("Search!", class: "button is-primary") %>
    </div>
  </div>
<% end %>