<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<h2>Video Games Ranked</h2>
<ol class="ml-5">
  <%= render @games %>
</ol>
</html>