<h1 class="title is-2">
  Games found when searching for: <%= params[:keyword] %>
</h1>
<ul>
  <% @games.each do |g| %>
    <li>
      <div class="message-body">
        <%= link_to g.name, g%>
      </div>
    </li>
  <%end%>
</ul>