<article class="message is-dark">
<div class="message-header">
  <h1>Red River College </h1>
  <h1>Business Information Tecnology </h1>
  <h1>Full-Stack Web Development</h1>
  <h1>Data Project - Milestone 1</h1>
</div>
<div class="message-header">
  <h2>Members:</h2>
</div>
<div class="message-body">
  <h2>⦁	Rafael Garcia Martinez.
</div>
<div class="message-header">
  <h2>Date:</h2>
</div>
<div class="message-body">
  <h2>⦁	October 4, 2023</h2>
</div>
<div class="message-header">
  <h2>Instructor:</h2>
</div>
<div class="message-body">
  <h2>⦁	Michael Bialowas. </h2>
</div>
<div class="message-header">
  <h3>Datasets Description </h3>
</div>
<div class="message-body">
  <p>This Dataset contains information related to videogames, the platforms where they are
  played, their publishers, and where they were sold in different parts of the world. </p>
</div>
<div class="message-header">
  <p>Tables: </p>
</div>

<div>
  <h1>ERD</h1>
  <img src="C:\Users\rafae\Desktop\RRCYear3Semester1\Full-StackWD\DataProject\Data_Project_2\DataSet|TIM's" diagram.jpeg" alt="ERD">
</div>

<div class="columns">
  <div class="column">
    <ol class="ml-5"> <strong>Games:</strong>
      <li> Game_id - Integer</li>
      <li> Rank - Integer</li>
      <li> Name - Varchar</li>
      <li> Genre - Varchar	</li>
      <li> Publisher_id - Integer	</li>
      <li> Plataform_id - Integer</li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"><strong>Sales:</strong>
      <li> Sale_id - Integer</li>
      <li> na_sales - Float</li>
      <li> eu_sales - Float</li>
      <li> jp_sales - Float	</li>
      <li> other_sales - Float</li>
      <li> global_sales - Float</li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <strong>Games_Sales:</strong>
      <li> Id - Integer </li>
      <li> Games_id - Integer </li>
      <li> Sale_id – Integer </li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <strong>Platforms:</strong>
      <li> Platforms_id - Integer </li>
      <li> Name - Varchar </li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <Strong>Publishers:</Strong>
      <li> Publishers_id - Integer  </li>
      <li> Name - Varchar  </li>
    </ol>
  </div>
</div>
</article>